*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.top{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font:normal;
  font-size: 20px;
  font-weight:100;
  color: #555555;
  padding-left: 180px;

}

.topp {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font:normal;
    max-width: 1172px;
    margin: auto; 
    padding-top: 30px;
    padding-bottom: 60px;
    color: #777777;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 50px;
    
}